*{
    margin: 0;
    padding: 0;
}
body {
    background: #00123A;
}

.main-body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 2rem;
    width: 100%;
    filter: drop-shadow(7.60247px 7.60247px 7.60247px rgba(185, 171, 171, 0.25));
    font-family: 'Base Neue';
    font-style: normal;
    font-weight: 800;
    font-size: 22vh;
    line-height: 22vh;
    color: #FF204E;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.search-icon{
    color: black;
}

.search-container {
    margin-top: 2rem;
    
    width: auto;
    height: 10vh;
    background: #A0153E;
    filter: drop-shadow(7.60247px 7.60247px 7.60247px rgba(185, 171, 171, 0.25));
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
}

.search-container:hover input {
    width: 50vw;
}

.search-container input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.search-container a .fas {
    color: black;
    font-size: 3vh;
}

.search-container input[type="text"]::placeholder {
    color: black; 
}

.party-pooper1 {
    position: absolute; 
    right: -8%; 
    height: 110vh;
    width: 50vb;
    top: 110vh;
    transform: rotate(-30deg);
}

.party-pooper2 {
    position: absolute; 
    bottom: -800px; 
    left: -9%; 
    height: 110vh;
    top: 600px;
    width: 50vb;
    transform: rotate(30deg);
}

.sprinklers1{
    position: absolute;
    left: 0.14%;
    right: 83.06%;
    top: 4%;
    bottom: 47.17%;
    z-index: -1;
}

.sprinklers2{
    position: absolute;
    left: 82.29%;
    right: -34.38%;
    top: 4%;
    bottom: 47.17%;
    z-index: -1;
}

.circus {
    position: absolute;
    left: 16.1%;
    right: 20.21%;
    top: 110vh;
    bottom: 0;
    height: 100vh;
    width: 135vb;
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10vh;
    margin-top: 10vh;
}

.box-container1{
    box-sizing: border-box;
    width: 32vh;
    height: 55vh;
    left: 25vb;
    top: 500px;
    background: linear-gradient(180deg, #A0153E 0%, #4B0B35 48.5%, #23203C 100%);
    border: 0.520629px solid #FFFFFF;
    box-shadow: 2.08251px 2.08251px 4.16503px #FFFFFF;
    border-radius: 10.4126px;
    display: flex;
    flex-wrap: wrap;

}
.image{
    /* position: absolute; */
    width: 80%;
    height: 80%;
    left: 15px;
    top: 5px;
    border-radius: 4.86299px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 3vh;
    margin-top: 1vh;
}

.like-button{
    /* position: absolute; */
    width: 50px;
    height: 50px;
    left: 65px;
    top: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 11vh;
    margin-top: 1vh;
    cursor: pointer;
}

.like-button:hover {
    cursor: pointer;
    border-width: thick;
    border-color: black;
}



