
body {
    background: #00123A;
}

.main-body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 2rem;
    width: 100%;
    filter: drop-shadow(7.60247px 7.60247px 7.60247px rgba(185, 171, 171, 0.25));
    font-family: 'Base Neue';
    font-style: normal;
    font-weight: 800;
    font-size: 22vh;
    line-height: 22vh;
    color: #FF204E;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.search-icon{
    color: black;
}

.search-container {
    margin-top: 2rem;
    
    width: auto;
    height: 10vh;
    background: #A0153E;
    filter: drop-shadow(7.60247px 7.60247px 7.60247px rgba(185, 171, 171, 0.25));
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
}

.search-container:hover input {
    width: 50vw;
}

.search-container input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.search-container a .fas {
    color: black;
    font-size: 3vh;
}

.search-container input[type="text"]::placeholder {
    color: black; 
}

.party-pooper1 {
    position: absolute; 
    right: -8%; 
    height: 110vh;
    width: 50vb;
    top: 110vh;
    transform: rotate(-30deg);
}

.party-pooper2 {
    position: absolute; 
    bottom: -800px; 
    left: -9%; 
    height: 110vh;
    top: 600px;
    width: 50vb;
    transform: rotate(30deg);
}

.sprinklers1{
    position: absolute;
    left: 0.14%;
    right: 83.06%;
    top: 4%;
    bottom: 47.17%;
    z-index: -1;
}

.sprinklers1{
    margin-left: -75%;
    margin-top: -60%;
}
.sprinklers2{
    margin-left: 150%;
    margin-top: -60%;
}

.canvas{
    /* position: absolute; */
    z-index: -1;
    margin-top: -25%;
    display: flex;
}

.circus {
    position: absolute;
    left: 16.1%;
    right: 20.21%;
    top: 110vh;
    bottom: 0;
    height: 100vh;
    width: 135vb;
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box-container {
    padding: 0.6rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #2F2B50;
    display: flex;
    flex-direction: column;
    align-items:stretch ;
}

.main-image img {
    width: 100%;
    height: 15rem;
}

.container-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.name{
    padding-right: 2rem;
    font-size: medium;
}

.like-btn {
    display: flex;
    background-color: #00123A;
    color: white;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 10vh;
        line-height: 10vh;
    }
    
    .image-container {
        width: 90%;
        height: auto;
    }
    
    .image {
        width: 100%;
        height: auto;
    }
    .party-pooper1 {
    right: -5%;
    height: 80vh;
    width: 20vw;
    top: 80vh;
    transform: rotate(-30deg);
    }
        
    .party-pooper2 {
    bottom: -500px;
    left: -5%;
    height: 80vh;
    top: 400px;
    width: 20vw;
    transform: rotate(30deg);
    }
        
   .sprinklers1 {
    margin-left: -50%;
    margin-top: -40%;
    }
        
    .sprinklers2 {
    margin-left: 100%;
    margin-top: -40%;
    }
}
    

